/*Renee McLeod Grand Circus Unit 1 CSS*/

/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

html  {
	font-family: 'Fira Sans Condensed', sans-serif;
	background-size: cover;
	width: auto;
	background-color: #f0ecee;
}

h2 {
	font-family: 'Fira Sans Condensed', sans-serif;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: baseline;
  align-content: space-between;
 }
	
.item-1 {
  width: 100%;
  height: 500%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: baseline;
  align-content: space-between;
 }
 
 a {
	font-family: 'Fira Sans Condensed', sans-serif;
    text-decoration: none;
	color: #88898b;
	font-weight: 300px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
 }
 
.adopt {
	 display: flex;
	 justify-content: left-side;
 }
 
.me {
	color: #ff4850;
	
}

.contact {
  background-color: #e74c3c;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  margin: 10px;
  color: #fff;
  position: relative;
  display: inline-block;

}


.adopting {
	color: #ff4850;
}
.contact:hover {
  background-color: #ccc;
}

.find {
  background-color: #e74c3c;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.find:hover {
  background-color: #ccc;
}
img {
	
}
#mobile { display: none; }

#desktop { display: inline; }

@media only screen and (max-width: 1024px) {
   
}
@media only screen and (max-width: 768px) {

}
